__pycache__/
.vscode/

run_history.sh
.gitattributes

tensorboard_logs/*
npy/ircodes/*
best_log/*
checkpoints/umrch_logs/*

!tensorboard_logs/.gitkeep
!npy/ircodes/.gitkeep
!best_log/.gitkeep
!checkpoints/umrch_logs/.gitkeep

*.zip
*.cfg
